
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div id="login-success">
    <h2>Admin Login Successfully</h2>
</div>

<style>
    #login-success {
        width: 400px;
        margin: 100px auto;
        padding: 20px;
        background: white;
        border-radius: 10px;
        color: #2483A6;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border: 2px solid #2483A6;
    }
</style>
